:root {
  --cream: #f9f5ef;
  --cream1: #c6bcaf;
  --customfont: #e1d7ca;
  --footer: #fcfaf2;
  --yellow: #ffaa00;
  --brown: #673a20;
  --black: #444;
  --neue: "Neue Haas Grotesk", sans-serif !important;
  --hello: "HelloFreshteaBrush", sans-serif !important;
  --logo: 1.389vw;
  --left: 43px;
  --left2: 14.688vw;
  --left3: 7.44vw;
  --bwidth: 33.385vw;
  --border: #110a06;
}
